

body {
    margin: 1rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

:focus-visible {
    outline: 0.25em solid #175C37;
    outline-offset: 0.25em;
  }

.skip_navigation {
    position: absolute;
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}
.skip_navigation:focus {
    clip-path: inset(0%);
    clip: auto;
    height: auto;
    width: auto;
    top: 0;
    padding: 1rem;
    background-color: rgb(255, 251, 0);
}
header {
    margin-top: 2rem;
}
.logo {
    font-size: 4rem;
}
h1{
    font-size: 3rem;
}
button {
    min-width: 44px;
    min-height: 44px;
    padding: 1rem;
    font-size: 1rem;
}
div:focus-within {
    outline: 0.25em solid #175C37;
    outline-offset: 0.25em;
}


h2.explicacion{
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 2px solid #000000;
    color: rgb(166, 0, 0);
    font-size: 2.5rem;
}

p {
font-size: 1.3rem;
}
