

body {
    margin: 1rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}
h1{
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}

h2 {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 2px solid #000000;
    color: rgb(166, 0, 0);
}
button {
    --btn-font-size: 1.3rem;

    font-size: var(--btn-font-size);
    padding: var(--btn-font-size);

}

.btn--pequeno {
    --btn-font-size: 0.9rem;
}

.btn--grande {
    --btn-font-size: 1.6rem;
}


