

body {
    margin: 1rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}
h1{
    font-size: 48px;
}
p {
    font-size: 1.5em;
}
span {
    font-size: 1.5em;
}
h2 {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 2px solid #000000;
    color: rgb(166, 0, 0);
}




