* {
    box-sizing: border-box;
    position: relative;
  }
  
  *:focus, *:focus-visible,
  [type=button]:focus-visible, [type=reset]:focus-visible, [type=submit]:focus-visible, button:focus-visible {
    outline: 2px solid #111;
    outline-offset: 2px;
  }
  
  header, main {
    padding: 2rem;
  }
  
  body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5vw;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
  }
  
  form {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    background: #eee;
    border-radius: 8px;
    max-width: 700px;
  }
  
  label {
    display: grid;
    gap: 0.25rem;
    font-weight: 500;
  }
  label input {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: 1px solid #888;
  }
  
  button, .btn, .button {
    border: 1px solid #111;
    padding: 0.5em 1em;
    line-height: 1.2;
    font: inherit;
    text-align: center;
    border-radius: 4px;
    background: #111;
    color: #fff;
  }
  
  [aria-invalid=true] {
    border: 2px solid #d4351c;
  }
  
  input:focus-visible, button:focus-visible {
    outline: 2px solid black;
    outline-offset: 1px;
  }
  
  h1, h2, h3, h4, h5 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    line-height: 1.2;
  }
  
  svg {
    display: block;
  }
  
  .mensaje {
    margin: 0;
    font-size: 0.85em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;
  }
  
  .mensaje-aviso {
    color: #666;
  }
  
  .mensaje-error {
    color: #d4351c;
  }
  
