
    body{
        --button-background-color: rgb(22, 76, 168);
        --button-text-color: #FFFFFF;
        --border-radius: 3px;
    }
    .boton {
        font: inherit;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: inherit;
        display: inline-flex;
        padding: .5em .75em;
        margin:.5rem;
        background-color: var(--button-background-color);
        color: var(--button-text-color);
        border-radius: var(--border-radius);
    }
    .boton:focus {
        outline: 4px solid red;
    }
    button {
        all: unset;
        margin: 2px;
    }
    button:focus, button:active {
        outline: 4px solid red;

    }
