* {
  box-sizing: border-box;
}

body {
  padding: 4rem;
  font-size: 1.5rem;
}

*:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

.disclosure-widget {
    border-radius: 4px;
    border: 1px solid rgb(100, 100, 30);
  }

.trigger {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    padding: .5em 1em; 
    display: flex;
    align-items: center;
    gap: .75em;
    background-color: #ddd;
    
    svg {
      width: .75em;
      height: .75em;
      color: inherit;
    }
}

.trigger[aria-expanded="true"] svg {
    /* Al expandir el widget giramos la flecha para que apunte hacia abajo */
    transform: rotate(90deg);
}
  
.panel {
    padding: .75em;
    color: #444;
}

