* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 3px;
}

body {
  padding: 4rem;
  font-size: 1.5rem;
}

.disclosure-widget {
  border-radius: 4px;
  border: 1px solid rgb(100, 100, 30);
}

.disclosure-widget > button {
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: .5em 1em; 
  display: flex;
  align-items: center;
  gap: .75em;
  background-color: #ddd;
  
  svg {
    width: .75em;
    height: .75em;
    color: inherit;
    transition: all .1s linear;
  }
}

.disclosure-widget > button[aria-expanded="true"] svg {
    /* Al expandir el widget giramos la flecha para que apunte hacia abajo */
    transform: rotate(90deg);
}

.disclosure-widget > div {
    padding: .75em;
    color: #444;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  