header { 
    background: #eee; 
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
}
nav { 
    background: #333; 
    color: white; 
    padding: 10px; 
}
nav a { 
    color: #FFF;}
main { 
    padding: 15px; 
}
aside {
    padding: 15px; 
    background: #f9f9f9; 
    }
footer { clear: both; 
    background: #555; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}
